*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

nav{
    background-color: white;
    height: 80px;
    width: 100%;
}

.logo{
    color:#c4bcb3;
    font-size: 35px;
    font-weight:700 ;
    line-height: 80px;
    padding: 0 100px;
}

.menu{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    padding: 0 30px;
    margin: 0 20px;
}

nav ul li a{
    color:#c4bcb3;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active,a:hover{
    background:white;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: #c4bcb3;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}
@media (max-width:1065px){
    label.logo{
        font-size: 30px;
        padding: 0 50px;

    }
    nav ul li a{
        font-size: 16px;
    }
}

/* @media(max-width:984px){
    label.logo{
        padding
    }
} */

@media(max-width:934px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
    }
    a:hover,a.active{
        background: none;
        color: black;
    }
    #check:checked ~ul{
        left: 0;
    }
}

.container1{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
}

.inside1{
    width: 60%;
    height: 500px;
    /* float: left; */
}

.heading-1{
    display: inline;
    position: relative;
    top: 150px;
    left: 100px;
    font-size: 50px;
}

.heading-2{
    
    position: relative;
    top: 220px;
    right: 57px;
    display: inline;
    font-size: 35px;
}

.lottery-img{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.inside2{
    /* padding: 100px; */
    /* float: right; */
    width: 40%;
    height: 500px;
    position: relative;

}

@media(max-width:760px){
    .container1{
        flex-direction: column-reverse;
        height: fit-content;
    }
    .inside2{
        width: 100vw;
    }
    .inside1{
        width: 100vw;
        text-align: center;
    }

}

.container2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* width: 70%; */
    height: max-content;

}
.inside1-c2{
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 96px;
    line-height: 2;
}

.head1-c2{
    font-size: 50px;
    padding: 20px;
    margin-top:40px;
}

.head2-c2{
    font-size: 30px;
    padding: 20px;
}

.para-c2{
    font-size: 22px;
    padding: 20px;
}

.inside3-c2{
    position: relative;
}
.BUY-now{
    font-size: 25px;
    color: red;
    background-color: #ffc107;
    border-radius: 10px;
    border-color: #ffc107;
    font-weight: 400;
    width: 200px;
    height: 50px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-10%);
    
}

.BUY-now:hover{
    background-color: #ffca2c;
    border-color: #ffc720;
}

.BUY-now:active{
    background-color: #ffcd39;
    border-color: #ffc720;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

#footer{
    position: relative;
    background-color: #8b8884;
    height: 35vh;
    /* padding: 30px; */
}
.CR{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding-top: 30px;
}

.supportus{
    position: absolute;
    left: 30%;
    top: 80px;
    transform: translate(-30%);
    text-align: center;
}

.company{
    position: absolute;
    left: 50%;
    top: 80px;
    transform: translate(-50%);
    text-align: center;
}

.policy{
    position: absolute;
    left: 70%;
    top: 80px;
    transform: translate(-70%);
    text-align: center;
}

.support{
    font-weight: 700;
}

.comp{
    font-weight: 700;
}

.PP{
    font-weight: 700;
}

#footer a{
    color: black;
    text-decoration: none;
    font-size: px;
}

#footer a:hover{
    color: #ffc107;
}

.how{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-60%);
    background-color: #2d72e0;
    color: white;
    font-size: 35px;
    width: 400px;
    height: 120px;
}

.how:hover{
    background-color: #4c8df6;
    cursor: pointer;
}

.how p{
    padding: 5px;
    margin-left: 50px;
}